
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla :: head">
        <title>Techshop</title>
    
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <div class="contenido">
        <h2 th:text="articulo.titulo">Dato articulos</h2>
        <a th:href="@{/articulo/nuevo}" th:text="articulo.">Nuevo Artuculo</a>
        <div th:if="{articulos!= null and !articulos.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th th:text="articulo.descipcion">Descripcion</th>
                    <th th:text="articulo.precio">Precio</th>
                    <th th:text="articulo.existencias">Existencias</th>
                    <th th:text="articulo.activo">activa</th>
                    <th th:text="articulo.eliminar">eliminar</th>
                    <th th:text="articulo.actualizar">modificar</th>
                </tr>
          
          
                
                
                  <tr th:text="articulo : ${articuloa}">
                    <td th:text="${articulo.descripcion}"></td>
                    <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" style="text-align: right"></td>
                    <td th:text="${articulo.exixtencias}" style="text-align: center"></td>
                    <td><input type="checkbox" name="activa" th:checked="${articulo.activo}" disabled="true"></td>
                    <td th:href="@{/articulo/eliminar/ + ${articulo.idArticulo}" th:text="accion.eliminar">Eliminar</td>
                    <td th:text="{@/articulo/modificar/ + ${articulo.idArticulo}" th:text="accion.actualizar">Modificar</td>
                </tr>
            </tbody>
        </table>
              </thead>
            
</div>
        <div th:if="${articulos == null or articulos.empty}" th:text="articulo.no_mostrar">
        </div>
   </div>
         <footer th:replace="plantilla/plantilla :: footer" />
        
    </body>
</html>
