
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <div class="contenido">
        <h2>Nuestros Articulos</h2>
        
        <div th:if="{articulos != null and !articulos.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Descipcion</th>
                    <th>Precio</th>
                    <th>Comprar</th>
                    
                </tr>
            </thead>
            
            <tbody>
                
                
                  <tr th:text="articulo : ${articulos}">
                    <td th:text="${articulo.descripcion}"></td>
                    <td th:text="${articulo.precio}"></td>
                    <td th:text="$@{/carrito/agregar} + ${articulo.idArticulo}">Agregar:</td>
                   
                </tr>
            </tbody>
        </table>
              </thead>
            
</div>
        <div th:if="${clientes == null or cliente empty}">
        </div>
   </div>
         <footer th:replace="plantilla/plantilla :: footer" />
        
    </body>
</html>
