
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
       
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <h2>gestion de clientes</h2>
        <a th:href="@{/nuevo cliente}">Nuevo cliente</a>
        <div th:if="{clientes != null and !clientes.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:text="cliente : ${cliente}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.correo}"></td>
                    <td th:text="${cliente.telefono}"></td>
                </tr>
                
                  <tr th:text="cliente : ${cliente}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.correo}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td><a th:href="@{modificarCliente/} + ${cliente.idCliente}">Modificar</a></td>
                    <td><a th:href="@{eliminarCliente/} + ${cliente.idCliente}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
            
</div>
        <div th:if="${clientes == null or cliente empty}">
        </div>
  
         <footer th:replace="plantilla/plantilla :: footer" />
        
    </body>
</html>
