
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
       
    </head>
    <body>
        <h1> Datos Cliente</h1>
        <a th:href="@{/}">Regresar</a>
        <form method="post"
              th:action="@{/guardarCliente}"
            th:object="${cliente}">
            
            <label for="nombre">Nombre:</label>  
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            
            <label for="nombre">apellidos:</label>  
            <input type="text" name="apellidos" th:field="*{apellidos}"/>
            <br/>
            
            <label for="nombre">correo:</label>  
            <input type="text" name="correo" th:field="*{correo}"/>
            <br/>
            
            <label for="nombre">telefono:</label>  
            <input type="text" name="telefono" th:field="*{telefono}"/>
            <br/>
            
        </form>
        <footer th:replace="plantilla/plantilla :: footer" />
    </body>
</html>
